<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles/index.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="/static/images/favicon.png" type="image/png"/>
        <meta charset="utf-8">
        <title>digital0cean's website</title>
    </head>
    <body id="blank">
        <div class="errtext">
            <h1><center>Ошибка! Имя пользователя не может быть пустым!</center></h1>
        </div>
        <div class="text">
            <div class="container">
                <p id="p3">
                     <a href = "/")>
                        <input type="button" value="На главную" name="main">
                    </a>
                    </p>
                </div>
            </div>
        </form>
    </body>
</html>