<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles/index.css" rel="stylesheet" type="text/css"/>
        <link rel="icon" href="/static/images/favicon.png" type="image/png"/>
        <meta charset="utf-8">
        <title>digital0cean's website</title>
    </head>
    <body id="blank">
        <div class="text">
            <form action="" method = "post">
                <div class="container">
                    <p id="reg_username">
                        <label for="reg_username">Имя пользователя</label>
                        <input type="text" name="reg_username">
                    </p>
                    <p id="reg_login">
                        <label for="reg_login">Лоигн</label>
                        <input type="text" name="reg_login">
                    </p>
                    <p id="reg_password">
                        <label for="reg_password">Пароль</label>
                        <input type="text" name="reg_password">
                    </p>
                    <p>
                        <a href = "/")>
                            <input type="button" value="На главную">
                        </a>
                    </p>
                    <p id="p3">
                        <a href = "/">
                            <input type="submit" value="Зарегистрироваться" name="regist">
                        </a>
                    </div>
                </div>
            </p>
        </form>
    </body>
</html>